# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?


# Logs and caches
*.log
.cache/
*.tmp
*.temp

# Dependencies
node_modules/
dist/
build/


.idea/
*.iml
.vscode/
*.sublime-workspace
*.sublime-project
